@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  scroll-snap-type: y mandatory;
  background-color: #272727;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
